nbproject/private/cache/retriever/localhost_9000/warehouse.wsdl_Warehouse.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="Warehouse" targetNamespace="http://infosys.tuwien.ac.at/aic10/ass1/dto/warehouse" xmlns:ns1="http://infosys.tuwien.ac.at/aic10/ass1/dto/warehouse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://infosys.tuwien.ac.at/aic10/ass1/dto/warehouse" version="1.0" xmlns:tns="http://infosys.tuwien.ac.at/aic10/ass1/dto/warehouse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="check_availability" type="tns:check_availability" />
<xs:element name="check_availabilityResponse" type="tns:check_availabilityResponse" />
<xs:element name="item" type="tns:item" />
<xs:element name="order" type="tns:order" />
<xs:element name="orderResponse" type="tns:orderResponse" />
<xs:element name="product" type="tns:product" />
<xs:element name="productavailability" type="tns:productAvailability" />
<xs:complexType name="order">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:product" />
<xs:element name="arg1" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="product">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element minOccurs="0" name="singleUnitPrice" type="xs:decimal" />
<xs:element minOccurs="0" name="items">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:item" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="id" type="xs:string" />
</xs:complexType>
<xs:complexType name="item">
<xs:sequence>
<xs:element name="quantity" type="xs:int" />
<xs:element minOccurs="0" name="product" type="tns:product" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="orderResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:decimal" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="check_availability">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:product" />
<xs:element name="arg1" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="check_availabilityResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:productAvailability" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="productAvailability">
<xs:sequence>
<xs:element name="isAvailable" type="xs:boolean" />
<xs:element name="estimatedDeliveryTime" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="order">
    <wsdl:part element="ns1:order" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderResponse">
    <wsdl:part element="ns1:orderResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="check_availabilityResponse">
    <wsdl:part element="ns1:check_availabilityResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="check_availability">
    <wsdl:part element="ns1:check_availability" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Warehouse">
    <wsdl:operation name="order">
      <wsdl:input message="ns1:order" name="order">
    </wsdl:input>
      <wsdl:output message="ns1:orderResponse" name="orderResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="check_availability">
      <wsdl:input message="ns1:check_availability" name="check_availability">
    </wsdl:input>
      <wsdl:output message="ns1:check_availabilityResponse" name="check_availabilityResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>